<div class="mt-4 logo-mobile d-flex flex-column ">
    <a href="/" class="text-decoration-none text-white">
        <i class="fa-brands fa-twitter fa-2xl"></i>
    </a>
    <%= link_to '<i class="fa-solid fa-arrow-right-from-bracket fa-xl mt-5 text-primary"></i>'.html_safe, login_path, data: { turbo_method: :delete }, data: {confirm: "Are you sure?"}, class:  "" %>
    <small class="mt-3">Logged in as - <strong>@<%=@user.username%></strong></small>
</div>
