<%=form_with(model: @tweet, local: true) do |f|%>
        <div class="">

            <%=f.text_area :message, class: "form-control div-h", placeholder: "What's on your mind?!"%>
        </div>
        <button type="submit" class="btn btn-primary my-3">Tweet</button>
<%end%>

