<div class="container ">
    <%=render 'side_bar'%>
    <%# feed filter %>
    <div class="container p-2 d-inline-flex flex-column justify-content-center align-items-center mt-3 ">
        <div class="mb-2 border text-bg-dark d-inline-flex justify-content-center align-items-end sticky-top p-2" style="width: 55%;">
            <ul class="nav nav-underline">
                <li class="nav-item me-5" id="for_you">
                    <a class="nav-link active" href="/for-you">For You</a>
                </li>
                <li class="nav-item ms-5" id="following">
                    <a class="nav-link" aria-current="page" href="/">Following</a>
                </li>
            </ul>
        </div>
        <%# tweet message partial %>
        <%=render 'new_tweet'%>
        <%#  %>
        <%# tweet container %>
        <%=render 'tweets'%>
    </div>
</div>

