<h1>Twitter</h1>
<div class="container">
    <% if session[:user_id]%>
        <%user = User.find(session[:user_id])%>
        <p><%= user.name%></p>
        <p><%= user.email%></p>
        <p><%= user.username%></p>
    <%end%>
    <%= link_to 'Logout', login_path, data: { turbo_method: :delete }, data: {confirm: "Are you sure?"} %>
</div>
